*{
    margin: 0;
    /* height: 100%; */
    padding: 0;
}
body{
    background-image: url(backiee-98927-landscape.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    background-size:cover;
    color:white;
    font-family: oswald,sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 7%;
}

.box{
    /* align-content: center; */
    /* background-color: rgba(225,225,225.0.1); */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(6px);
    width:350px;
    height: 300px;
    /* border-radius: 15px; */
    /* background-image:url(Picsart_26-02-11_00-11-38-329.jpg.jpeg); */
    background-size: cover;
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    margin-top: 35;
    gap:10px

}
img{
    width: 30px;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 50px;
}
h1{
    color: rgba(16, 63, 116, 0.726);
}
h2{
    color: yellow;
}
h3{
    display: flex;
    position: relative;
    top: 190px;
    left:-205px;
    height: 30px;

}
.a{
    text-decoration: none;
    background-color: rgb(82, 67, 124);
    padding: 3px;
    width: 60px;
    display: flex;
    justify-content: center;
    color:rgb(209, 129, 54);
    border-radius: 10px;
    align-items: center;
    opacity: 0.8;
}
.a:hover{
    opacity: 1;
    cursor: pointer;
}
