*{
    margin: 0;
}
body{
    background-image: url(82423.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    background-size:cover;
    color:white;
    font-family: oswald;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    /* align-content: center; */
    /* background-color: rgba(225,225,225.0.1); */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(6px);
    width:400px;
    height: 400px;
    border-radius: 15px;
    background-image:url(Picsart_26-02-11_00-11-38-329.jpg.jpeg);
    background-size: cover;
}
h1{
    display: flex;
    position: relative;
    justify-content: center;
    top:25px;
    color:rgb(252, 49, 49);
    -webkit-text-stroke: 0.3px black;
}
.img{
    width:100px;
    display:flex;
    margin-top: 40px;
    border-radius: 50px;
    margin-left: 150px;
}
a{
    text-decoration: none;
    display:flex;
    margin-top: 7%;
    justify-content: center;
    color: orange;
    -webkit-text-stroke: 0.3px black;
    font-weight: 700;
    backdrop-filter: blur(12px);
    width:180px;
    padding:20px;
    border-radius: 15px;    

}

h2{
    justify-content: center;
    align-items: center;
    display: flex;
}
